@model ToolProgramCore.Models.ToolMeasure

@{
    ViewData["Title"] = "Add Measure";
    
}

@{
    // Declare a list of double values for S_Size dropdown
    List<double> values_S_Size = new List<double>();
    values_S_Size.Add(0.5);

    for (double i = 1; i <= 20; i += 1)
    {
        values_S_Size.Add(i);
    }
}

@{
    // Declare a list of double values for condition dropdown
    List<double> values_Condition = new List<double>();
    
    for (double i = -5; i <= 5; i += 0.5)
    {
        values_Condition.Add(i);
    }
}
<div class="d-flex mt-4 mb-3 ">
    <div class="w-auto me-5">
        <h1 class="mt-5" >Add a Measure</h1>
   

        <h4>Tool Measure</h4>
    </div>

    <div class="w-auto ms-5">
        <div class="d-flex align-items-center ms-1">
            <img alt="Icon" class="img-fluid" width="140" @*max-height="170"*@ src="/Images/MeasureAdd.png" />
        </div>
    </div>
        
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMeasure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group visually-hidden">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group visually-hidden">
                <label asp-for="T_Date" class="control-label"></label>
                <input asp-for="T_Date" class="form-control" data-format="dd/MM/yyyy HH:mm:ss PP"
                />
                <span asp-validation-for="T_Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="T_Date" class="control-label"></label>
                <input asp-for="T_Date" disabled="true" class="form-control" data-format="dd/MM/yyyy HH:mm:ss PP"
                />
                <span asp-validation-for="T_Date" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="ToolNo" class="control-label"></label>
                
                    <input asp-for="ToolNo" id="tool" class="form-control" onfocus="toolFocus()" onblur="getWC()" value="TTU "  list="Tool_Data">
                    <datalist id="Tool_Data">
                            @if (!(Model is null))
                            {
                                foreach (var tool_lst in Model.ToolNoDropDownList)
                                { 

                                <option value="@tool_lst[1]">@(tool_lst[2])</option>
                                }
                            }
                    </datalist>                       
                

                <span asp-validation-for="ToolNo" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <label asp-for="WC">Work Center</label>
                <div class="input-group">
                    <input asp-for="WC" id="wc" class="form-control" list="Work_Center" placeholder="Type to search...">
                    <datalist id="Work_Center">
                            @if (!(Model is null))
                            {
                                foreach (var wc in Model.WCdropDownList)
                                {
                                <option value="@wc[0].Trim()">
                                    @(wc[2] != null && !wc[2].Trim().Equals("") ? wc[2] : (wc[1] == null ? "" : wc[1]))
                                </option>
                                }
                            }
                    </datalist>
                    <div class="input-group-text slowerTransition" id="WCText">[ ]</div>
                    <button type="button" 
                        class="btn btn-sm btn-light slowerTransition 
                        visually-hidden lightGrayBorder" 
                        data-bs-toggle="popover" 
                        data-bs-title="Help" 
                        id="helpPopover"
                        data-bs-trigger="focus"
                        data-bs-content="If this is not the correct WC, it may need to be returned first.">
                        ?
                    </button>
                </div>
                
                <span asp-validation-for="WC" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="EmpNo" class="control-label"></label>
                <input asp-for="EmpNo" class="form-control" list="Emp_Data" >
                <datalist id="Emp_Data">
                        @if (!(Model is null))
                        {
                            foreach (var emp_lst in Model.EmplDropDownList)
                            {
                            <option value="@emp_lst[1].Trim()">@(emp_lst[0].Split(',')[1].Trim() + " " + emp_lst[0].Split(',')[0])</option>
                            }
                        }
                </datalist>
                <span asp-validation-for="EmpNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="S_Size" class="control-label"></label>
                <input asp-for="S_Size" class="form-control" type="number" step="0.1"
                list="S_Size_lst">

                <datalist id="S_Size_lst">                
            
                        @foreach (double value in values_S_Size)
                        {
                            // Create an option element with the value and text
                            <option value="@value">@value</option>
                        }
                </dataList>
                   
                <span asp-validation-for="S_Size" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" type="number" step="0.0001" list="Condition_lst">
                
                <datalist id="Condition_lst">                
            
                        @foreach (double value in values_Condition)
                        {
                            // Create an option element with the value and text
                            <option value="@value">@value</option>
                        }
                </dataList>
                
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Measure" class="btn btn-primary buttonPurple" />
            </div>
        </form>
    </div>
</div>
@*Maybe for passing in list <div id="toolListRaw">
    @Html.Raw(Json.Serialize(Model.ToolLocationsList));
</div>*@

<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script >


    // Enable pop overs
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    var popoverList = [...popoverTriggerList].map(
        popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

    
    // deactivates wc input and sets style
    function toolFocus() {
        $("#WCText").text("[ ]");
        $("#WCText").addClass("cursorHover");
        $("#WCText").removeClass("lightGreenBorder");
        $("#wc").attr('readonly', 'readonly');
        $("#helpPopover").addClass("visually-hidden");
    }

    // sets part of the wcInput to a not found style
    function setNotFound() {
        $("#WCText").text("N/A");
        $("#WCText").removeClass("cursorHover");
        $("#wc").removeAttr('readonly');
        $("#helpPopover").addClass("visually-hidden");
    }

    // sets part of the wcInput to a found style
    function setFound() {
        $("#WCText").text("Auto");
        $("#WCText").addClass("lightGreenBorder");
        $("#WCText").removeClass("cursorHover");
        $("#wc").attr('readonly', 'readonly');
        $("#helpPopover").removeClass("visually-hidden");
    }


    // Function for the on focus of the tool number
    //      Auto sets the WC if it is found
    function getWC() {
      // Get the tool value from the input

      var toolValue = $("#tool").val();

      // Check if the tool value len is greater than "TTU "
      if (toolValue.length > 5) {

        // run helper function in contoller to auto enter WC based on tool
        $.ajax({
            type: "POST",
            data: { Tool: toolValue
                    },
            url: '/Measure/GetWC',
        }).done(function (result) {

            // auto fill wc input
            $("#wc").val(result);

            // set style based on if found
            if(result === "") {
                setNotFound();
            }
            else {
                setFound(); 
            }
        });
      }
      else {
        //alert("Tool too short");
        $("#WCText").text("N/A");
        $("#WCText").removeClass("cursorHover");
      }
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
