@model ToolProgramCore.Models.ToolMeasure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tool Measure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.T_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.T_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.S_Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.S_Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to recent checks</a>
</div>
